body {
  margin: 0;
  padding: 0;
}

.nav-tabs .nav-link {
  color: #000 !important;
  background: rgb(196, 196, 196) !important;
}

.nav-tabs .nav-link.active {
  color: #000 !important;
  background: rgb(241, 241, 241) !important;
}

.tab-content .active {
  margin-top: 20px !important;
  font-size: 20px !important;
  text-transform: uppercase !important;
}